
@font-face {
font-family: 'Far.Roya';
src:        url('http://www.fontfarsi.ir/Content/Fonts/EOT/Far_Roya.eot');
src: local('☺'),
						url('http://www.fontfarsi.ir/Content/Fonts/WOFF/Far_Roya.woff') format('woff'),
						url('http://www.fontfarsi.ir/Content/Fonts/TTF/Far_Roya.ttf') format('truetype'),
						url('http://www.fontfarsi.ir/Content/Fonts/SVG/Far_Roya.svg') format('svg');
font-weight: normal;
font-style: normal;
}


@font-face {
font-family: 'Far.RoyaBold';
src:        url('http://www.fontfarsi.ir/Content/Fonts/EOT/Far_RoyaBold.eot');
src: local('☺'),
						url('http://www.fontfarsi.ir/Content/Fonts/WOFF/Far_RoyaBold.woff') format('woff'),
						url('http://www.fontfarsi.ir/Content/Fonts/TTF/Far_RoyaBold.ttf') format('truetype'),
						url('http://www.fontfarsi.ir/Content/Fonts/SVG/Far_RoyaBold.svg') format('svg');
font-weight: normal;
font-style: normal;
}
