---
layout: default
title: درباره سمگا
---
{% include header.html %}
<section class="hero about-semega">
  <h1 class="page-title">درباره سمگا</h1>
</section>

<!-- secondary menu -->

<section class="secondary-menu about-menu">
  <div class="link-wrapper menu-center">
    <a class="active" href="#about-s">معرفی سمگا</a>
    <a href="#history">تاریخچه</a>
    <a href="#ceo-words">سخن مدیرعامل</a>
    <a href="#org-chart">جایگاه سازمانی سمگا</a>
    <a href="#subsidaries">شرکت‌های زیرمجموعه سمگا</a>
    <a href="#baord-members">اعضای هیئت مدیره</a>
  </div>
</section>

<section id="about-s">

<!-- seperator line for each section -->

<div class="separator">
  <span class="right-line">
    <span class="line-1"></span>
    <h2>معرفی سمگا</h2>
    <span class="line-1"></span>
  </span>
  <span class="center-dots">
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
  </span>
  <span class="left-line">
    <span class="line-1"></span>
  </span>
</div>

<!-- End of seperator line for each section -->



  <div class="wrapper col-2">
    <div class="box frame pollen">
      <p>شرکت «گروه سرمايه‌گذاری ميراث فرهنگی و گردشگری ايران – سمگا» (با نماد «سمگا» در فرابورس) به‌عنوان نخستين هلدينگ تخصصی گردشگری، شركت مادرتخصصی و بازوی اجرایی گروه مالی گردشگری در حوزه گردشگری و هتلداری است. چشم‌انداز سمگا تا افق 1404، تبدیل شدن به نماد توسعه گردشگری در کشور و شناخته شدن به‌عنوان یکی از سه برند برتر گردشگری در منطقه است.
        در این راستا، سمگا مأموریت خود را ارائه خدمات در بخش‌های مختلف زنجیره توسعه فعالیت‌های گردشگری تعریف کرده است؛ 12زنجیره‌ کاملی شامل شناسایی، بررسی و انتخاب فرصت‌های سرمایه‌گذاری، ایجاد ساختار مشارکت، سرمایه‌گذاری، جلب مشارکت‌های سرمایه‌گذاران داخلی و بین‌المللی در فرصت‌های سرمایه‌گذاری شاخص گردشگری، مرمت و بازسازی بناهای تاريخی، برندینگ و بهره‌برداری و مدیریت این مجموعه‌ها.
        این مجموعه خدمات در پروژه‌هایی مانند هتل‌ها، مجتمع‌های خدماتی و رفاهی، مجموعه‌های اقامتی و پذیرایی و مجتمع‌های توریستی و نیز فعالیت‌های خدماتی در این حوزه (شامل استارت‌آپ‌های حوزه گردشگری) ارائه می‌شود.
        اين شركت همچنين به‌عنوان يك هلدينگ سرمایه‌گذاری در بازار سرمايه را نيز در دستور كار خود قرار داده است.
      </p>
    </div>
    <div class="box img-semega">
    </div>

  </div>
</section>

<!-- history timeline -->

<section class="h-container" id="history">

  <!-- seperator line for each section -->
  <div class="separator">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>تاریخچه</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

  <!-- End of seperator line for each section -->

  <div class="horizontal-scroll-wrapper squares">
      <!-- <div class="item-null"></div> -->
      <div class="item-1"></div>
      <div class="item-2"></div>
      <div class="item-3"></div>
      <div class="item-4"></div>
      <div class="item-5"></div>
      <div class="item-6"></div>
      <div class="item-7"></div>
      <div class="item-8"></div>

      <div class="item-last"></div>
  </div>
</section>

<!-- <div class="empty-space-medium">

</div> -->

<section class="ceo" id="ceo-words">
  <!-- seperator line for each section -->
  <div class="separator light-bg">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>سخن مدیرعامل</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

  <!-- End of seperator line for each section -->
  <div class="ceo-wrapper">

      <div class="ceo-img"></div>
      <div class="ceo-frame ">
        <div class="text-ceo pollen">
          <h2>سهامداران گرامی</h2>
          <br>
          <p>طرح‌نما یا لورم ایپسوم به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائه اولیه شکل ظاهری و کلیِ طرح سفارش‌گرفته‌شده استفاده می‌کند، تا ازنظر گرافیکی نشانگر چگونگی نوع و اندازه قلم و ظاهرِ متن باشد.

            معمولاً طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفاً به مشتری یا صاحب‌کار خود نشان دهند که صفحه طراحی یا صفحه‌بندی شده، بعد از اینکه متن در آن قرار گیرد، چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموماً نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال، کار آنها به‌نوعی وابسته به متن است، آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.</p>
        </div></div>


  </div>
</section>



<div class="org-chart-wrapper" id="org-chart">
  <!-- seperator line for each section -->
  <div class="separator light-bg">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>جایگاه سازمانی سمگا</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

  <!-- End of seperator line for each section -->

  <section class="subsidaries">
    <div class="subsidaries-p">
      <h4>گروه مالی گردشگری</h4>
        <p>گروه مالی گردشگری متشکل از پنج هلدینگ اصلی و چندین شرکت زیرمجموعه در حوزه‌های پولی و مالی، گردشگری، صنعت و معدن، نفت و گاز و انرژی و راه و ساختمان و ابنیه است که هر کدام متعهد شده‌اند بخشی از برنامه‌های کلان این گروه را در چارچوب سند راه‌بردی چشم‌انداز آن، عملیاتی می‌کنند. این مجموعه با سرمایه‌گذاری گسترده در حوزه گردشگری کشور، بر ارتقای شاخص‌های صنعت گردشگری و بهینه‌سازی خدمات سفر (برای هم‌وطنان و گردشگران خارجی) اهتمامی جدی دارد.
            در چشم‌انداز و مأموریت گروه مالی گردشگری تأکید شده است که این مجموعه هم‌راستا با سیاست‌های اقتصاد مقاومتی و با تکیه ‌بر راه‌برد درون‌زایی و برون‌نگری اقتصادی، با افزایش حجم سرمایه‌گذاری‌ها در پروژه‌های زیرساختی و کارآفرینی و ایجاد اشتغال برای بیش از ۲۰ هزار نیروی جوان و متخصص، برای کسب جایگاه نخست جذب سرمایه‌های خارجی در میان شرکت‌های بخش خصوصی و کسب جایگاهی ویژه در میان سه برند محبوب اقتصادی کشور تلاش می‌کند.
        </p>
    </div>
    <div class="subsidaries-img">
    </div>
    <br>
  </section>

  <section class="organizational-chart">
    <div class="sub-heading">
      <div class="line-right"></div>
      <div class="text">
        <p>ساختار سازمانی سمگا</p>
      </div>
      <div class="line-left"></div>
    </div>
    <div class="org-chart"></div>
  </section>

</div>

<!-- subsidaies section -->

<section class="subsidaries-s" id="subsidaries">

  <div class="sub-heading">
    <div class="line-right"></div>
    <div class="text">
      <p>شرکت‌های زیرمجموعه سمگا </p>
    </div>
    <div class="line-left"></div>
  </div>
<br>


  <section class="s-wrapper" id="subsidaries-co">
    <div class="link-wrapper link-list subsidaries-box1">
      <div class="round-logo sub-logo1"></div>
      <p class="co-name">توسعه گردشگری آریا زیگورات</p>
      <a class="sub-btn1">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box2">
      <div class="round-logo sub-logo2"></div>
      <p class="co-name">تندیس تجارت باختر</p>
      <a class="sub-btn2">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box3">
      <div class="round-logo sub-logo3"></div>
      <p class="co-name">تجارت بین‌الملل میلاد آریا زیگورات</p>
      <a class="sub-btn3">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box4">
      <div class="round-logo sub-logo4"></div>
      <p class="co-name">تلاشگران اندیشه کاراد</p>
      <a class="sub-btn4">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box5">
      <div class="round-logo sub-logo5"></div>
      <p class="co-name">لیزینگ شید</p>
      <a class="sub-btn5">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

  {% include subsidiaries/subsidiary1.html %}
  {% include subsidiaries/subsidiary2.html %}
  {% include subsidiaries/subsidiary3.html %}
  {% include subsidiaries/subsidiary4.html %}
  {% include subsidiaries/subsidiary5.html %}



    <div class="link-wrapper link-list subsidaries-box6">
      <div class="round-logo sub-logo6"></div>
      <p class="co-name">باشگاه گردشگری ایرانیان</p>
      <a class="sub-btn6">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box7">
      <div class="round-logo sub-logo7"></div>
      <p class="co-name">توسعه مجتمع‌های خدماتی رفاهی پارس زیگورات</p>
      <a class="sub-btn7">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box8">
      <div class="round-logo sub-logo8"></div>
      <p class="co-name">توسعه خدمات ساختمانی پارس کیمیا</p>
      <a class="sub-btn8">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box9">
      <div class="round-logo sub-logo9"></div>
      <p class="co-name">توسعه فناوری اطلاعات گردشگری ایران</p>
      <a class="sub-btn9">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box10">
      <div class="round-logo sub-logo12"></div>
      <p class="co-name">اقتصادی نگین گردشگری ایرانیان</p>
      <a class="sub-btn10">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    {% include subsidiaries/subsidiary6.html %}
    {% include subsidiaries/subsidiary7.html %}
    {% include subsidiaries/subsidiary8.html %}
    {% include subsidiaries/subsidiary9.html %}
    {% include subsidiaries/subsidiary10.html %}


    <div class="link-wrapper link-list subsidaries-box11">
      <div class="round-logo sub-logo13"></div>
      <p class="co-name">بانک گردشگری</p>
      <a class="sub-btn11">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    <div class="link-wrapper link-list subsidaries-box12">
      <div class="round-logo sub-logo14"></div>
      <p class="co-name">نگین افق نیایش</p>
      <a class="sub-btn12">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    {% include subsidiaries/subsidiary11.html %}
    {% include subsidiaries/subsidiary12.html %}
  <br><br>
    </section>
  </section>
  <br>

<!-- end of subsidaies section -->


<!-- board members section -->
<section id="baord-members">


  <!-- seperator line for each section -->

  <div class="separator">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>اعضای هیئت‌مدیره</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

  <!-- End of seperator line for each section -->


  <section class="s-wrapper board-members">
    <div class="link-wrapper board-list board-box1">
      <div class="round-img board-img-1"></div>
      <h3 class="p-title">مهدی جهانگیری کوهشاهی</h3>
      <p>رئيس هيئت‌مديره سمگا</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    <div class="link-wrapper board-list board-box2">
      <div class="round-img board-img-2"></div>
      <h3 class="p-title">سید بهاءالدین حسینی هاشمی</h3>
      <p>نایب‌رئیس هیئت‌مدیره سمگا</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    <div class="link-wrapper board-list board-box3">
      <div class="round-img board-img-3"></div>
      <h3 class="p-title">علی سنگینیان</h3>
      <p>مدیرعامل و عضو هیئت‌مدیره</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    {% include board/members-detail1.html %}
    {% include board/members-detail2.html %}
    {% include board/members-detail3.html %}



    <div class="link-wrapper board-list board-box4">
      <div class="round-img board-img-4"></div>
      <h3 class="p-title">عباس صمیمی</h3>
      <p>عضو هيئت‌مدیره مديره سمگا</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    <div class="link-wrapper board-list board-box5">
      <div class="round-img board-img-5"></div>
      <h3 class="p-title">سولماز وزیرزاده</h3>
      <p>عضو هيئت‌مديره سمگا</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    <div class="link-wrapper board-list board-box6">
      <div class="round-img board-img-6"></div>
      <h3 class="p-title">محمدصادق طاهری</h3>
      <p>عضو هيئت‌مديره سمگا</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    {% include board/members-detail4.html %}
    {% include board/members-detail5.html %}
    {% include board/members-detail6.html %}

    <div class="link-wrapper board-list board-box7">
      <div class="round-img board-img-7"></div>
      <h3 class="p-title">رامین ادراکی</h3>
      <p>عضو هيئت‌مديره سمگا</p>
      <a>معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>

    {% include board/members-detail7.html %}


    <!-- <div class="link-wrapper board-box8">
      <div class="round-img board-img-8"></div>
      <h3 class="p-title">علی سنگینیان</h3>
      <p>مدیرعامل و عضو هیئت‌مدیره</p>
      <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div>
    <div class="link-wrapper board-box9">
      <div class="round-img board-img-9"></div>
      <h3 class="p-title">علی سنگینیان</h3>
      <p>مدیرعامل و عضو هیئت‌مدیره</p>
      <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div> -->

    <!-- {% include board/members-detail1.html %} -->
    <!-- {% include board/members-detail2.html %} -->
    <!-- {% include board/members-detail3.html %} -->

    <!-- <div class="link-wrapper board-box10">
      <div class="round-img board-img-10"></div>
      <h3 class="p-title">علی سنگینیان</h3>
      <p>مدیرعامل و عضو هیئت‌مدیره</p>
      <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
      <div class="flower-img"></div>
    </div> -->

    <!-- {% include board/members-detail1.html %} -->


  </section>

  <br>
  <br>
  <br>

</section>
<!-- end of board members section -->
