---
layout: default
title: پروژه های سرمایه گذاری
---
{% include header.html %}
<section class="hero investment-hero">
  <h1 class="page-title">پروژه های سرمایه گذاری</h1>
</section>

<section class="secondary-menu">
  <div class="link-wrapper investment-menu menu-center">
    <a href="#ongoing-projects">پروژه های در حال انجام</a>
    <a href="#finish-projects">پروژه های انجام شده</a>
  </div>
</section>

<br>
<section class="media-s1 investment-1 invest-carousel">
  <div class="invetment-hero2">
    <div class="side-heading">
      <div class="row-1">
        <h2>پروژه مرمت، احیا و بهره برداری از کاروانسرای وکیل </h2>
      </div>
      <div class="row-2">
        <p>قابلیت های منحصربه فرد این بنا به عنوان یک مجموعه تجاری- اقامتی، بهره برداری از پتانسیل های تجاری مانند غرفه ها و رستوران ها، امکان تبدیل قسمت هایی از بنا به موزه ی تاریخ و وقایع نگاری ایران، همچنین حفظ یک اثر تاریخی، از دلایل انتخاب این مجموعه بوده است.</p>
      </div>
      <div class="row-3">
        <div class="line-right"></div>
        <div class="text">
          <p>در حال انجام </p>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="row-4">
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>


      </div>
    </div>
  </div>

  <div class="invetment-hero2">
    <div class="side-heading">
      <div class="row-1">
        <h2>پروژه مرمت، احیا و بهره برداری از کاروانسرای وکیل </h2>
      </div>
      <div class="row-2">
        <p>قابلیت های منحصربه فرد این بنا به عنوان یک مجموعه تجاری- اقامتی، بهره برداری از پتانسیل های تجاری مانند غرفه ها و رستوران ها، امکان تبدیل قسمت هایی از بنا به موزه ی تاریخ و وقایع نگاری ایران، همچنین حفظ یک اثر تاریخی، از دلایل انتخاب این مجموعه بوده است.</p>
      </div>
      <div class="row-3">
        <div class="line-right"></div>
        <div class="text">
          <p>در حال انجام </p>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="row-4">
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>


      </div>
    </div>
  </div>

  <div class="invetment-hero2">
    <div class="side-heading">
      <div class="row-1">
        <h2>پروژه مرمت، احیا و بهره برداری از کاروانسرای وکیل </h2>
      </div>
      <div class="row-2">
        <p>قابلیت های منحصربه فرد این بنا به عنوان یک مجموعه تجاری- اقامتی، بهره برداری از پتانسیل های تجاری مانند غرفه ها و رستوران ها، امکان تبدیل قسمت هایی از بنا به موزه ی تاریخ و وقایع نگاری ایران، همچنین حفظ یک اثر تاریخی، از دلایل انتخاب این مجموعه بوده است.</p>
      </div>
      <div class="row-3">
        <div class="line-right"></div>
        <div class="text">
          <p>در حال انجام </p>
        </div>
        <div class="line-left"></div>
      </div>
      <div class="row-4">
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>


      </div>
    </div>
  </div>
</section>



<!--  ongoing projects -->
<section id="ongoing-projects">


  <!-- separator lines for each section -->

  <div class="separator">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>پروژه های در حال انجام</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span
    </span>
  </div>

  <!-- End of separator lines for each section -->

<section class="s-wrapper investment-project">

  <div class="link-wrapper project-box1">
    <div class="round-img project-img-1"></div>
    <h3 class="p-title">کاروانسرای وکیل</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img1"></div>
    <div class="flower-img"></div>
  </div>
  <div class="link-wrapper project-box2">
    <div class="round-img project-img-2"></div>
    <h3 class="p-title">گراند هتل قزوین</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img2"></div>
    <div class="flower-img"></div>
  </div>
  <div class="link-wrapper project-box3">
    <div class="round-img project-img-3"></div>
    <h3 class="p-title">هتل چهار ستاره در شهرستان بافت استان کرمان</h3>
    <!-- <p>مرمت ، احیا و بهره برداری</p> -->
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-im3"></div>
    <div class="flower-img"></div>
  </div>


{% include ongoingprojects/project-details1.html %}
{% include ongoingprojects/project-details2.html %}
<!-- {% include ongoingprojects/project-details3.html %} -->



  <div class="link-wrapper project-box4">
    <div class="round-img project-img-4"></div>
    <h3 class="p-title">مجتمع اداری- تجاری و پارکینگ مکانیزه </h3>
    <!-- <p>مرمت ، احیا و بهره برداری</p> -->
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img4"></div>
    <div class="flower-img"></div>
  </div>

  <div class="link-wrapper project-box5">
    <div class="round-img project-img-5"></div>
    <h3 class="p-title">مجتمع تجاري- اقامتي هتل سیرجان در كرمان </h3>
    <!-- <p>مرمت ، احیا و بهره برداری</p> -->
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img5"></div>
    <div class="flower-img"></div>
  </div>
  <div class="link-wrapper project-box6">
    <div class="round-img project-img-6"></div>
    <h3 class="p-title">پروژه تجاري-اداري-اقامتي نگين افق نيايش</h3>
    <!-- <p>مرمت ، احیا و بهره برداری</p> -->
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img6"></div>
    <div class="flower-img"></div>
  </div>


  <!-- {% include ongoingprojects/project-details4.html %} -->
  <!-- {% include ongoingprojects/project-details5.html %} -->
  <!-- {% include ongoingprojects/project-details6.html %} -->

</section>

<div class="empty-space-small"></div>
</section>


<!--  end of ongoing projects -->


<!-- finished projects -->
<section id="finish-projects">


  <!-- separator lines for each section -->

  <div class="separator lightbg">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>پروژه های انجام شده</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

<section class="s-wrapper investment-project light-bg">

  <div class="link-wrapper project-box1">
    <div class="round-img fin-project-img-1"></div>
    <h3 class="p-title">هتل‌هاي 4 و 5 ستاره Ibis و Novotel</h3>
    <!-- <p>مرمت ، احیا و بهره برداری</p> -->
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img"></div>
    <div class="flower-img-light"></div>
  </div>
  <div class="link-wrapper project-box2">
    <div class="round-img fin-project-img-2"></div>
    <h3 class="p-title">مرکزآموزش علمی‌کاربردی تلاشگران اندیشه کاراد </h3>
    <!-- <p>مرمت ، احیا و بهره برداری</p> -->
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img2"></div>
    <div class="flower-img-light"></div>
  </div>
  <!-- <div class="link-wrapper project-box3">
    <div class="round-img fin-project-img-3"></div>
    <h3 class="p-title">کاروانسرای وکیل</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-im3"></div>
    <div class="flower-img"></div>
  </div> -->


<!-- {% include ongoingprojects/project-details1.html %} -->
<!-- {% include ongoingprojects/project-details2.html %} -->
<!-- {% include ongoingprojects/project-details3.html %} -->



  <!-- <div class="link-wrapper project-box4">
    <div class="round-img fin-project-img-4"></div>
    <h3 class="p-title">هتل‌هاي 4 و 5 ستاره Ibis و Novotel</h3>
    <p>فرودگاه بين‌المللي حضرت امام خميني (ره)</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img4"></div>
    <div class="flower-img"></div>
  </div>

  <div class="link-wrapper project-box5">
    <div class="round-img fin-project-img-5"></div>
    <h3 class="p-title">کاروانسرای وکیل</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img5"></div>
    <div class="flower-img"></div>
  </div>
  <div class="link-wrapper project-box6">
    <div class="round-img fin-project-img-6"></div>
    <h3 class="p-title">کاروانسرای وکیل</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img6"></div>
    <div class="flower-img"></div>
  </div> -->


  <!-- {% include ongoingprojects/project-details4.html %} -->
  <!-- {% include ongoingprojects/project-details5.html %} -->
  <!-- {% include ongoingprojects/project-details6.html %} -->

</section>



<div class="empty-space-small lightbg">

</div>

</section>
<!--  end of finished projects -->
