---
layout: default
title: پروژه‌های سرمایه‌گذاری
---
{% include header.html %}
<section class="hero investment-hero">
  <h1 class="page-title">پروژه‌های سرمایه‌گذاری</h1>
</section>

<section class="secondary-menu">
  <div class="link-wrapper investment-menu menu-center">
    <a href="#ongoing-projects">پروژه‌های در حال انجام</a>
    <a href="#finish-projects">پروژه‌های انجام شده</a>
  </div>
</section>

<br>

<section class="media-s1 invest-carousel">
  <div class="hero2">
      <img class="hero-2nd" src="/Images/visualNews/1/1ec3bb4ac348423d99a78719e2568ae3.jpg" width="100%" height="500px" alt="">
      <div class="side-heading">
          <div class="row-1">
              <span class="small-box"></span>
              <h2>گزارش تصویری</h2>
          </div>
          <div class="row-2">
              <h2>گزارش تصویری از مجمع عمومی عادی سالیانه سمگا</h2>
              <p>مجمع عمومی عادی سالیانه سال 1395 شرکت گروه سرمایه گذاری میراث فرهنگی و گردشگری ایران (سمگا) برگزار شد. ...</p>
          </div>
          <div class="row-3">
              <label class="container">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
              </label>
              <label class="container ">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
              </label>
              <label class="container">
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
              </label>
          </div>
      </div>
  </div>


</section>



<!--  ongoing projects -->
<section id="ongoing-projects">


  <!-- separator lines for each section -->

  <div class="separator">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>پروژه‌های در حال انجام</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

  <!-- End of separator lines for each section -->

<section class="s-wrapper investment-project">

  <div class="link-wrapper project-list ongoing-project-box1">
    <div class="round-img project-img-1">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/karvansara.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">کاروانسرای وکیل</h3>
    <p>مرمت، احیا و بهره‌برداری</p>
    <a class="clicked-btn">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img1"></div>
    <div class="flower-img"></div>
  </div>
    {% include ongoingprojects/ongoing-project-details1.html %}
  <div class="link-wrapper project-list ongoing-project-box2">
    <div class="round-img project-img-2">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/grand-hotel.png" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">گراند هتل قزوین</h3>
    <p>مرمت، احیا و بهره‌برداری</p>
    <a class="clicked-btn">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img2"></div>
    <div class="flower-img"></div>
  </div>
  {% include ongoingprojects/ongoing-project-details2.html %}
  <div class="link-wrapper project-list ongoing-project-box3">
    <div class="round-img project-img-3">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/kerman-4star.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">هتل چهار ستاره در شهرستان بافت استان کرمان</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a class="clicked-btn">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-im3"></div>
    <div class="flower-img"></div>
  </div>

  <div class="link-wrapper project-list ongoing-project-box4">
    <div class="round-img project-img-4">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/car-park.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">مجتمع اداری-تجاری و پارکینگ مکانیزه </h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a class="clicked-btn">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img4"></div>
    <div class="flower-img"></div>
  </div>

  <div class="link-wrapper project-list ongoing-project-box5">
    <div class="round-img project-img-5">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/hotel-sirjan.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">مجتمع تجاری-اقامتی هتل سیرجان در كرمان </h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a class="clicked-btn">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img5"></div>
    <div class="flower-img"></div>
  </div>
  <div class="link-wrapper project-list ongoing-project-box6">
    <div class="round-img project-img-6">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/negin-project.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">پروژه تجاری-اداری-اقامتی نگين افق نيايش</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a class="clicked-btn">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img6"></div>
    <div class="flower-img"></div>
  </div>


</section>

<div class="empty-space-small"></div>
</section>


<!--  end of ongoing projects -->


<!-- finished projects -->
<section id="finish-projects">


  <!-- separator lines for each section -->

  <div class="separator lightbg">
    <span class="right-line">
      <span class="line-1"></span>
      <h2>پروژه های انجام شده</h2>
      <span class="line-1"></span>
    </span>
    <span class="center-dots">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </span>
    <span class="left-line">
      <span class="line-1"></span>
    </span>
  </div>

<section class="s-wrapper investment-project light-bg">

  <div class="link-wrapper done-project-list done-project-box1">
    <div class="round-img fin-project-img-1">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/hotel.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">هتل‌هاي 4 و 5 ستاره Ibis و Novotel</h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img"></div>
    <div class="flower-img-light"></div>
  </div>
{% include doneprojects/done-project-details1.html %}
  <div class="link-wrapper done-project-list done-project-box2">
    <div class="round-img fin-project-img-2">
      <img class="project-img-round" src="{{site.baseurl}}/assets/images/karad-project.jpg" width="160px" height="160px" alt="">
    </div>
    <h3 class="p-title">مرکزآموزش علمی‌کاربردی تلاشگران اندیشه کاراد </h3>
    <p>مرمت ، احیا و بهره برداری</p>
    <a href="#">معرفی بیشتر <i class="material-icons">keyboard_arrow_down</i> </a>
    <div class="pointer-img pointer-img2"></div>
    <div class="flower-img-light"></div>
  </div>

</section>



<div class="empty-space-small lightbg">

</div>

</section>
<!--  end of finished projects -->
