---
layout: default
title: مقالات
---
{% include header-home.html %}
{% include page-top.html %}
<section class="hero media-hero">
  <h1 class="page-title">مقالات</h1>
</section>

<!-- secondary menu -->
<div class="empty-menu">

</div>
<!-- end of secondary menu -->

<!-- media abstract -->
<section class="abstract">
  <div class="col-right">
    <div class="col-top">
      <h3>بازگشت ایران به عرصه جهانی گردشگری</h3>
      <p>دکتر علی سنگینیان</p>
    </div>
    <div class="col-bottom">
      <h4>چکیده </h4>
      <br>
      <p>بهترین این هتل سراها را می توان مرکز ایران یافت از جمله هتل سرای عامری ها در کاشان، هتل عباسی در اصفهان و هتل سرای نیایش در شیراز. این کامنت ها پیام آور پتانسیل و مطلوبیت سرمایه گذاری در احیای بناهای تاریخی با کاربری هتل و رستوران می باشد.<br>
      بهترین این هتل سراها را می توان مرکز ایران یافت از جمله هتل سرای عامری ها در کاشان، هتل عباسی در اصفهان و هتل سرای نیایش در شیراز. این کامنت ها پیام آور پتانسیل و مطلوبیت سرمایه</p>
    </div>
  </div>
  <div class="col-left">
    <img src="{{site.baseurl}}/assets/images/media-2nd-hero.jpg" alt="">
  </div>
</section>
<div class="bg-overlaps"></div>
<!-- end of media abstract -->



<!-- media body  -->
<article class="media-body">
  <div class="media-content-container">
    <h3>بازگشت ایران به عرصه جهانی گردشگری</h3><br>
    <p>شرکت «گروه سرمايه‌گذاري ميراث فرهنگي و گردشگري ايران– سمگا» (با نماد «ذسمگا» در فرابورس) به‌عنوان نخستين هلدينگ تخصصي گردشگري، شركت مادر تخصصي و بازوی اجرایی گروه مالی گردشگری در حوزه گردشگری و هتلداری است. چشم‌انداز سمگا تا افق 1404، تبدیل شدن به نماد توسعه گردشگری در کشور و شناخته شدن به‌عنوان یکی از سه برند برتر گردشگری در منطقه است. در این راستا، سمگا مأموریت خود را ارائه خدمات در بخش‌های مختلف زنجیره توسعه فعالیت‌های گردشگری تعریف کرده است. اين شركت هم چنين به عنوان يك هلدينگ سرمايه گذاري، سرمايه گذاري در بازار سرمايه را نيز در دستور كار خود قرار داده است.
    <br>
    شرکت «گروه سرمايه‌گذاري ميراث فرهنگي و گردشگري ايران– سمگا» (با نماد «ذسمگا» در فرابورس) به‌عنوان نخستين هلدينگ تخصصي گردشگري، شركت مادر تخصصي و بازوی اجرایی گروه مالی گردشگری در حوزه گردشگری و هتلداری است. چشم‌انداز سمگا تا افق 1404، تبدیل شدن به نماد توسعه گردشگری در کشور و شناخته شدن به‌عنوان یکی از سه برند برتر گردشگری در منطقه است. در این راستا، سمگا مأموریت خود را ارائه خدمات در بخش‌های مختلف زنجیره توسعه فعالیت‌های گردشگری تعریف کرده است. اين شركت هم چنين به عنوان يك هلدينگ سرمايه گذاري، سرمايه گذاري در بازار سرمايه را نيز در دستور كار خود قرار داده است
    </p>
    <img src="{{site.baseurl}}/assets/images/chart-sanat-2.png">

    <p>شرکت «گروه سرمايه‌گذاري ميراث فرهنگي و گردشگري ايران– سمگا» (با نماد «ذسمگا» در فرابورس) به‌عنوان نخستين هلدينگ تخصصي گردشگري، شركت مادر تخصصي و بازوی اجرایی گروه مالی گردشگری در حوزه گردشگری و هتلداری است. چشم‌انداز سمگا تا افق 1404، تبدیل شدن به نماد توسعه گردشگری در کشور و شناخته شدن به‌عنوان یکی از سه برند برتر گردشگری در منطقه است. در این راستا، سمگا مأموریت خود را ارائه خدمات در بخش‌های مختلف زنجیره توسعه فعالیت‌های گردشگری تعریف کرده است. اين شركت هم چنين به عنوان يك هلدينگ سرمايه گذاري، سرمايه گذاري در بازار سرمايه را نيز در دستور كار خود قرار داده است.
    <br>
    شرکت «گروه سرمايه‌گذاري ميراث فرهنگي و گردشگري ايران– سمگا» (با نماد «ذسمگا» در فرابورس) به‌عنوان نخستين هلدينگ تخصصي گردشگري، شركت مادر تخصصي و بازوی اجرایی گروه مالی گردشگری در حوزه گردشگری و هتلداری است. چشم‌انداز سمگا تا افق 1404، تبدیل شدن به نماد توسعه گردشگری در کشور و شناخته شدن به‌عنوان یکی از سه برند برتر گردشگری در منطقه است. در این راستا، سمگا مأموریت خود را ارائه خدمات در بخش‌های مختلف زنجیره توسعه فعالیت‌های گردشگری تعریف کرده است. اين شركت هم چنين به عنوان يك هلدينگ سرمايه گذاري، سرمايه گذاري در بازار سرمايه را نيز در دستور كار خود قرار داده است
    </p>
    <img src="{{site.baseurl}}/assets/images/media-2nd-hero.jpg">
    <p>شرکت «گروه سرمايه‌گذاري ميراث فرهنگي و گردشگري ايران– سمگا» (با نماد «ذسمگا» در فرابورس) به‌عنوان نخستين هلدينگ تخصصي گردشگري، شركت مادر تخصصي و بازوی اجرایی گروه مالی گردشگری در حوزه گردشگری و هتلداری است. چشم‌انداز سمگا تا افق 1404، تبدیل شدن به نماد توسعه گردشگری در کشور و شناخته شدن به‌عنوان یکی از سه برند برتر گردشگری در منطقه است. در این راستا، سمگا مأموریت خود را ارائه خدمات در بخش‌های مختلف زنجیره توسعه فعالیت‌های گردشگری تعریف کرده است. اين شركت هم چنين به عنوان يك هلدينگ سرمايه گذاري، سرمايه گذاري در بازار سرمايه را نيز در دستور كار خود قرار داده است.
    </p>
  </div>
</article>
<!-- end of media body  -->
