<div class="placeholder" id="board-holder5">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member5"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>سولماز وزیرزاده</h5>
        <br>
        <p>سمت: عضو هيأت مديره </p>
        <p>تحصیلات: دکتری مدیریت کسب و کار</p>
        <p>به نمایندگی از: شرکت طلایه داران تجارت کاسپین</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>مشاورسرمایه‌گذاری و تأمین مالی بانک آینده</p>
        <p>مدیرعامل شرکت سمگا</p>
        <p>مشاور سرمایه‌گذاری گروه مالی گردشگری</p>
        <p>معاون مهندسی مالی و طراحی ابزارهای مالی تأمین سرمایه نوین</p>
        <p>معاون ناشران واعضاءبورس تهران</p>
      </div>

      </div>
    </div>
  </div>
</div>
