<div class="placeholder holder7">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member7"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>رامین ادراکی</h5>
        <br>
        <p>سمت: عضو هيأت مديره سمگا</p>
        <p>تحصیلات:</p>
        <p>به نمایندگی از:</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>مشاور بانک گردشگری</p>
        <p>معاون پشتیبانی و منابع انسانی بانک گردشگری</p>
        <p>معاون برنامه‌ریزی و تعالی سازمانی سمگا</p>
        <p>مدیرعامل و عضو هیأت مدیره شرکت توسعه فناوری اطلاعات گردشگری ایران</p>
        
      </div>

      </div>
    </div>
  </div>
</div>
