<div class="placeholder" id="board-holder4">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member4"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>عباس صمیمی</h5>
        <br>
        <p>سمت: عضو هيأت مديره سمگا
</p>
        <p>تحصیلات: لیسانس مدیریت دولتی</p>
        <p>به نمایندگی از: شرکت تدبیران تجارت راه نور</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>رئیس هیأت مدیره گروه پتروشیمی سرمایه‌گذاری ایرانیان</p>
        <p>رئیس هیأت مدیره پتروشیمی اراک</p>
        <p>مدیرعامل و عضو هیأت مدیره سرمایه‌گذاری ایران</p>

      </div>

      </div>
    </div>
  </div>
</div>
