<div class="placeholder" id="board-holder1">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member1"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>مهدی جهانگیری کوهشاهی</h5>
        <br>
        <p>سمت: رئيس هيأت مديره سمگا</p>
        <p>تحصیلات:</p>
        <p>به نمایندگی از:</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>ریاست گروه مالی گردشگری</p>
        <p>نایب رئیس اتاق بازرگانی تهران </p>
        <p>رئیس هیأت مدیره بانک گردشگری </p>
        <p>معاون سرمایه‌گذاری سازمان میراث فرهنگی و گردشگری</p>
        <p>مدیرعامل شرکت توسعه گردشگری</p>
      </div>

      </div>
    </div>
  </div>
</div>
