<div class="placeholder holder1">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member1"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>علی سنگینیان</h5>
        <br>
        <p>:سمت</p>
        <p>:تحصیلات</p>
        <p>:به نمایندگی از</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>عضو هیات مدیره بانک گردشگری</p>
        <p>نایب رئیس هیات مدیره فرابورس</p>
        <p>دبیر هیات مدیره بورس تهران </p>
        <p>مدیر عامل تامین سرمایه امین </p>
      </div>

      </div>
    </div>
  </div>
</div>
