<div class="placeholder holder6">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member6"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>محمد صادق طاهری</h5>
        <br>
        <p>سمت: عضو هيأت مديره سمگا</p>
        <p>تحصیلات:</p>
        <p>به نمایندگی از:</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>عضو هیأت مدیره بانک گردشگری</p>
        <p>رئیس هیأت مدیره بانک گردشگری</p>
        <p>معاون آموزشی سازمان انرژی اتمی</p>
      </div>

      </div>
    </div>
  </div>
</div>
