<div class="placeholder" id="board-holder2">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member2"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>سیدبهاءالدین حسینی هاشمی</h5>
        <br>
        <p>سمت: نایب رئیس هیأت مدیره </p>
        <p>تحصیلات: فوق لیسانس مدیریت اجرایی</p>
        <p>به نمایندگی از: شرکت طرح سازه تنیان</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>

        <p>مدیرعامل بانک سرمایه</p>
        <p>مدیرعامل بانک تات</p>
        <p>مدیرعامل بانک صادرات</p>
      </div>

      </div>
    </div>
  </div>
</div>
