<div class="placeholder" id="board-holder3">
  <div class="holder-wrapper no-padding">
    <div class="board-col1">
      <div class="board-img member3"></div>

    </div>
    <div class="board-col2">
      <div class="item-p1">
        <h5>علی سنگینیان</h5>
        <br>
        <p>سمت: مديرعامل و عضو هيأت مديره سمگا</p>
        <p>تحصیلات:</p>
        <p>به نمایندگی از:</p>
      </div>
      <div class="item-p2">
        <h5>سوابق کاری</h5>
        <br>
        <p>عضو هیأت مدیره بانک گردشگری</p>
        <p>نایب رئیس هیأت مدیره فرابورس</p>
        <p>دبیر هیأت مدیره بورس تهران</p>
        <p>مدیرعامل تأمین سرمایه امین</p>
        <p>معاون ناشران واعضاءبورس تهران</p>
        <p>عضو هیات مدیره اتاق بازرگانی تهران و رئیس کمیسیون بازار پول و سرمایه اتاق بازرگانی تهران</p>
      </div>

      </div>
    </div>
  </div>
</div>
