<section class="footer">
  <div class="bg-wrapper">
    <div class="top">
      <div class="footer-logo"></div>
      <div class="footer-links">
        <div class="footer-col">
          <h5>لینک های مفید</h5>
          <a href="#">سازمان جهانی گردشگری UNWTO </a>
          <a href="#">شورای جهانی گردشگری و سفر WTTC</a>
          <a href="#">سازمان میراث فرهنگی و گردشگری</a>
          <a href="#">گروه مالی گردشگری</a>
          <a href="#">یونسکو UNESCO</a>
          <a href="#">ایران در تصویر</a>
        </div>
        <div class="footer-col">
          <h5>دسترسی سریع</h5>
          <a href="/index.html">صفحه اصلی</a>
          <a href="{{site.baseurl}}/investment-projects/">پروژه های سرمایه گذاری</a>
          <a href="#">نمودارهای تعاملی</a>
          <a href="{{site.baseurl}}/tourism/">صنعت گردشگری</a>
          <a href="{{site.baseurl}}/media/">رسانه</a>

        </div>
        <div class="footer-col">
          <h5>تماس با ما</h5>
          <a href="#">شرکت گروه سرمایه گذاری میراث فرهنگی و گردشگری ایران
          نشانی: تهران، میدان شیخ بهایی - ابتدای سئول - کوچه ماهتاب - پلاک50</a>
          <p>صندوق پستي: 681-19935</p>
          <p>تلفنخانه: 3 - 88615331</p>
          <p>فكس: 88216390</p>
        </div>

      </div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="right-img">
      <div class="footer-arrow"><a href="#"></a></div>
    </div>
    <div class="left-img"></div>

  </div>
</section>
