<section class="footer">
  <div class="bg-wrapper">
    <div class="top">
      <div class="footer-logo"></div>
      <div class="footer-links">
        <div class="footer-col footer-col1">
          <h5>لینک‌های مفید</h5>
          <a href="http://www2.unwto.org/" target="_blank">سازمان جهانی گردشگری UNWTO </a>
          <a href="https://www.wttc.org/" target="_blank">شورای جهانی گردشگری و سفر WTTC</a>
          <a href="http://www.ichto.ir/" target="_blank">سازمان میراث فرهنگی و گردشگری</a>
          <a href="http://www.tourismgroup.ir/" target="_blank">گروه مالی گردشگری</a>
          <a href="https://en.unesco.org/" target="_blank">یونسکو UNESCO</a>

        </div>
        <div class="footer-col footer-col2">
          <h5>دسترسی سریع</h5>
          <a href="/index.html">صفحه اصلی</a>
          <a href="{{site.baseurl}}/investment-projects/">پروژه‌های سرمایه‌گذاری</a>
          <a href="http://185.10.72.84/">نمودارهای تعاملی</a>
          <a href="{{site.baseurl}}/tourism/">صنعت گردشگری</a>
          <a href="{{site.baseurl}}/media/">رسانه</a>
          <a href="https://webmail.semega.ir/Mondo/lang/sys/login.aspx">ورود به ایمیل سازمانی</a>
        </div>
        <div class="footer-col footer-col3">
          <h5>تماس با ما</h5>
          <a href="#">شرکت گروه سرمایه‌گذاری میراث فرهنگی و گردشگری ایران
          نشانی: تهران، میدان شیخ بهایی، ابتدای سئول، کوچه ماهتاب، پلاک 50</a>
          <p>صندوق پستي: 681-19935</p>
          <p>تلفن: 3 - 88615331</p>
          <p>فکس دبیرخانه: داخلی 483</p>
          <p>فکس اداره‌ سهام: داخلی 464</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-line">
    <div class="right-img">
      <div class="footer-arrow"><a href="#"></a></div>
    </div>
    <div class="left-img"></div>

  </div>
</section>
