
<header class="header-home">


	<input type="checkbox" class="nav-check" id="nav-check">
	<label class="nav-label" for="nav-check">
		<span class="mobile-nav-toggle">
			<span></span>
		</span>
	</label>
	<a class="logo" href="/index.html"></a>

	<nav class="nav-main">
		<a class="nav-item" href="/index.html">صفحه اصلی</a>
		<a class="nav-item" href="{{site.baseurl}}/about-semega/">درباره سمگا</a>
		<a class="nav-item" href="{{site.baseurl}}/strategy/">راهبردها</a>
		<a class="nav-item" href="{{site.baseurl}}/investment-projects/">پروژه‌های سرمایه‌گذاری</a>
		<a class="nav-item" href="{{site.baseurl}}/tourism/">صنعت گردشگری</a>
		<a class="nav-item" href="{{site.baseurl}}/media/">رسانه</a>
		<!-- <a class="nav-item" href="#">نمودارهای تعاملی</a> -->
		<a class="nav-item" href="http://185.10.72.84/">امور سهامداران￼</a>
		<!-- <a class="nav-item" href="http://stock.semega.ir/stockportal">ورود به پرتال</a> -->
		<!-- <a class="nav-item" id="lang" href="#">￼EN</a> -->

	</nav>


</header>
