
<header class="header">


	<input type="checkbox" class="nav-check" id="nav-check">
	<label class="nav-label" for="nav-check">
		<span class="mobile-nav-toggle">
			<span></span>
		</span>
	</label>
	<a href="{{site.baseurl}}/index.html"><div class="logo" ></div></a>

	<nav class="nav-main">

		<a class="nav-item" href="{{site.baseurl}}/about-semega/">درباره سمگا</a>
		<a class="nav-item" href="{{site.baseurl}}/strategy/">راهبردها</a>
		<a class="nav-item" href="{{site.baseurl}}/investment-projects/">پروژه های سرمایه گذاری</a>
		<a class="nav-item" href="{{site.baseurl}}/tourism/">صنعت گردشگری</a>
		<a class="nav-item" href="{{site.baseurl}}/media/">رسانه</a>
		<a class="nav-item" href="#">نمودارهای تعاملی</a>
		<a class="nav-item" href="#">￼تماس باما</a>
		<a class="nav-item" id="lang" href="#">￼EN</a>

	</nav>

</header>
