<div class="placeholder holder5">
  <div class="holder-wrapper">
    <div class="project-col1">
      <div class="project-img"></div>
      <div class="project-map"></div>
    </div>
    <div class="project-col2">
      <div class="item-h1">
        <h3>مرمت، احیا و بهره برداری از کاروانسرای وکیل </h3>
      </div>
      <div class="item-p1">
        <h6>شرح پروژه</h6>
        <p>
          کاروان‌سرای وکیل با الگوی معماری رایج چهار ایوانی و با طرح حیاط مرکزی در دو طبقه ساخته شده است. مساحت این بنا حدود 11هزار مترمربع، مصالح غالبش آجر، تزئیات غالب آن شامل کاشی‌کاری و آجرکاری، و سازه‌ی بنا، دیوار باربر و قوس جناقی است. در حال حاضر کاروان‌سرای وکیل تحت مالکیت «صندوق احیا و بهره‌برداری از اماکن تاریخی و فرهنگی» بوده و امتیاز بهره‌برداری از آن به مدت 20 سال در اختیار شرکت سمگا قرار خواهد داشت. فضاهای پیش‌بینی‌شده در این پروژه شامل فضاهای اقامتی (دارای 80 تخت)، فضاهای چای‌خانه، غذاخوری و کافی‌شاپ (شامل 250 صندلی)، فضاهای فرهنگی چندمنظوره (شامل 100 صندلی) و تعداد هشت باب مغازه خواهد بود.
        </p>
        <h6>مزیتها و نوآوری های پروژه</h6>
        <ul>
          <li>موقعیت مکانی مناسب در شهر کرمان و سهولت دسترسی</li>
          <li>
            کمبود مراکز اقامتی در شهر کرمان با وجود جاذبه‌های فراوان
            کاربری سه‌گانه‌ی تجاری- تاریخی- اقامتی</li>
          <li>  قرارگیری حیاط در مرکز اتاق‌ها و پوشش مجموع نیازهای کاربران</li>
        </ul>
        <h6>پیش بینی وضعیت تقاضا و درآمد پروژه</h6>
        <p>تعداد مسافران نوروزی استان کرمان: بیش از دومیلیون نفر</p>
      </div>
      <div class="item-p2">
        <h6>دلایل انتخاب پروژه</h6>
        <p>
        قابلیت های منحصربه فرد این بنا به عنوان یک مجموعه تجاری- اقامتی، بهره برداری از پتانسیل های تجاری مانند غرفه ها و رستوران ها، امکان تبدیل قسمت هایی از بنا به موزه ی تاریخ و وقایع نگاری ایران، همچنین حفظ یک اثر تاریخی، از دلایل انتخاب این مجموعه بوده است</p>
        <h6>جذابیت های گردشگری منطقه</h6>
        <p>کرمان به‌عنوان یکی از پنج شهر تاریخی ایران، با وسعتی حدود 13هزار هکتار، مرکز پهناورترین استان کشور است. این شهر با 1756 متر ارتفاع از سطح دریا، سومین مرکز استان مرتفع ایران محسوب می‌شود که این ویژگی موجب اعتدال نسبی هوای کرمان در تابستان شده است. اماکن تاریخی کرمان: گنبد جبلیه، مجموعه‌ گنج‌علی‌خان، باغ شاهزاده ماهان، مسجد جامع ملک، آرامگاه شاه نعمت‌الله ولی و آرامگاه خواجه اتابک
        جاذبه‌های صنعتی: صنایع مس شهید باهنر، صنایع زغال‌سنگ، سیمان ممتاز، نیروگاه سیکل ترکیبی کرمان، گلاب و عرقیات زهرا
        جاذبه‌های تفریحی: آسیاب بادی کرمان و جنگل پردیسان قائم
        جاذبه‌های طبیعی: کوه‌های همیشه پوشیده از برف جوپار، پلوار و جفتان، کویر لوت، کوه هزار، باغ نظر، باغ بیرم‌آباد، باغ فتح‌آباد، باغ سرآسیاب و باغ گلشن</p>
      </div>

      </div>
    </div>
  </div>
</div>
