<div class="placeholder holder2">
  <div class="holder-wrapper">
    <div class="project-col1">
      <div class="project-img on-project2-img"></div>
      <div class="project-map on-project2-map"></div>
    </div>
    <div class="project-col2">
      <div class="item-h1">
        <h3>مرمت، احیا و بهره برداری از گراند هتل قزوین</h3>
      </div>

      <div class="item-p1">
        <h6>شرح پروژه</h6>
        <p>
          گراند هتل قزوین به عنوان تنها گرند هتل باقیمانده در ایران با کاربری فرهنگی، اقامتی، پذیرایی در مالکیت صندوق احیاء و بازسازی بناهای تاریخی می‌باشد و به مدت ۲۵ سال جهت انجام عملیات مرمت، احیاء و بهره برداری به عنوان مرکز اقامتی و پذیرایی در اختیار سمگا قرار گرفته است. فضاهای پیشبینی شده در این طرح شامل فضاهای اقامتی دارای 46 تخت، فضاهای چایخانه، غذاخوری و کافی شاپ شامل 252 صندلی، فضاهای فرهنگی و تجاری (سینما) شامل 120 صندلی و تعداد 8 باب مغازه و نیز فضاهای پشتیبانی از جمله نگهبانی، دفتر مدیریت، خانه داری، سرویس بهداشتی، لابی و فضاهای ورودی، تأسیسات، انباری و غیره میباشد. در زمان بهره‌برداری از پروژه، در مجموع برای بیش از 30 نفر به طور مستقیم ایجاد اشتغال می‌شود.
        </p>
        <h6>جذابیتهای سرمایه گذاری / دلایل انتخاب پروژه</h6>
        <ul>
          <li>	وجود جاذبههای تاریخی و فرهنگی منحصر به فرد در قزوین و نزدیکی آن به تهران</li>
          <li>	کمبود اماکن اقامتی در قزوین با توجه با آمار روبه رشد تقاضا برای بازدید از این شهر تاریخی و ترجیح اقامت در هتلهای تاریخی
          </li>
          <li>	موقعیت جغرافیایی منحصربهفرد گراند هتل و نزدیکی آن به مراکز گردشگری و اماکن تاریخی قزوین
          </li>
          <li>	پیشینه تاریخی و اهمیت فرم معماری هتل
          </li>
          <li>	امکان استفاده از کاربریهای اقامتی، فرهنگی و تجاری
          </li>
        </ul>
      </div>
      <div class="item-p2">
        <h6>جذابیت های گردشگری منطقه</h6>
        <p>شهر قزوین بدلیل برخورداری از جذابیت‌های تاریخی و طبیعی از قابلیت بالایی برای جذب گردشگران برخوردار‌است. از سوی دیگر وجود کارخانه‌های فراوان در این‌استان، این‌استان را به یک قطب صنعتی کشور تبدیل کرده‌است که بازرگانان و مدیران ارشد بسیاری از کشورهای صنعتی برای بازدید از کارخانه به سوی این شهر روانه می‌کند. از جاذبههای تاریخی قزوین میتوان به کاخ و موزه چهلستون، موزه شهر، بازار قزوین و سرای سعدالسلطنه، مسجد جامع، مسجدالنبی، حمام قجر، سردر عالی‌قاپو، حسینیه امینی‌ها، آرامگاه حمدالله مستوفی، شاهزاده حسین، دروازه تهران و آب‌انبارهای قزوین اشاره کرد. از دیگر جاذبههای گردشگری قزوین میتوان به جاذبه‌های طبیعی اطراف شهر از جمله دریاچه اوان در الموت شرقی، کوه سرکه در  الموت غربی، ایوان سنگی نیاق، غارها، رودخانه ها و ... اشاره کرد.
        </p>
        <h6>پیش بینی وضعیت تقاضا و درآمد پروژه</h6>
        <p>استان قزوین به عنوان یکی از پتانسیل‌های صنعت گردشگری کشور، در سال 95 با رشد 22 درصدی بازدیدکنندگان در سفرهای نوروزی همراه بوده‌است. در راستای بهره‌وری از پتانسیل گردشگری قزوین، بازار هدف این پروژه گراند هتل به طور خاص، صنعت گردشگری شهر قزوین تعریف شده‌است تا با احیاء و مرمت این بنا به عنوان یک مکان تجاری– اقامتی از پتانسیل‌های توریستی و دسترسی مناسب شهر قزوین استفاده کرده و این مجموعه را به یک مجموعه زنده و سودده تبدیل شود. همچنین با بهرهبرداری از مغازه‌های موجود در بنا و نیز تعریف چندباب مغازه جدید میتوان از خاصیت تجاری بودن بنا و تبدیل قسمتهایی از بنا به محل عرضه محصولات فرهنگی و صنایع دستی بهرهجست. علاوه بر این بنای حاضر دارای یک سینما نیز بوده ‌است که با مرمت و احیاء آن میتوان یک سالن نمایش چندمنظوره ایجاد کرده و بهره وری اقتصادی مجموعه را بالا برد.
        </p>
      </div>

      </div>
    </div>
  </div>
</div>
