
// about semega page subsidaries section
.subsidaries-s
  background-color: $bg-color-light
  .sub-heading
    display: flex
    width: 100%
    height: 10%
    justify-content: center
    padding-right: 14px
    .text
      font-weight: bold

    .line-right, .line-left
      background: url(../images/line10.png) center center
      background-size: contain
      background-repeat: no-repeat
      width: 150px
      height: 20px
      margin: 2px 9px
    .line-left
      transform: rotate(180deg)


#subsidaries-co

  width: 100%
  max-width: 1400px
  margin: auto
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  p
    max-width: 150px
    text-align: center
.round-logo
  width: 100px
  height: 100px
  background-color: pink
  border-radius: 100px
  margin: 20px
  background-size: contain
  background-repeat: no-repeat
.sub-logo1, .sub-logo2, .sub-logo3, .sub-logo4,
.sub-logo5, .sub-logo6, .sub-logo7, .sub-logo8,
.sub-logo9, .sub-logo10, .sub-logo11, .sub-logo12,
.sub-logo13, .sub-logo14, .sub-logo15,
  background: url(../images/sub-logo.png) center center
  background-size: contain
  background-repeat: no-repeat



.subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4, .subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box11, .subsidaries-box12, .subsidaries-box13, .subsidaries-box14
  border-left: 1px solid $accent-color-yellow
  border-bottom: 1px solid $accent-color-yellow

.subsidaries-box5, .subsidaries-box10, .subsidaries-box15,
  border-bottom: 1px solid $accent-color-yellow
.subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4, .subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9,
  .flower-img
    background: url(../images/flower-logo-lightbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 20
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto
    z-index: 4
.subsidaries-box11, .subsidaries-box12, .subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
  border-bottom: none

// about semega page  // board members section

.board-members
  .link-wrapper
    .board-img-1, .board-img-2,  .board-img-3, .board-img-4, .board-img-5,  .board-img-6, .board-img-7, .board-img-8,  .board-img-9, .board-img-10
      background: url(../images/ceo-img.jpg) center center
      background-size: contain
      background-repeat: no-repeat


.board-box1, .board-box2, .board-box4, .board-box5, .board-box7, .board-box8, .board-box10
  border-left: 1px solid $accent-color-yellow

.board-box1, .board-box2, .board-box3, .board-box4, .board-box5, .board-box6, .board-box7, .board-box8, .board-box9
  border-bottom: 1px solid $accent-color-yellow
.board-box1, .board-box2, .board-box4, .board-box5,
.board-box7, .board-box8,
  .flower-img
    background: url(../images/flower-logo-yellowbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 20
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto



// investment page // ongoing projects
.s-wrapper
  width: 100%
  margin: auto
  display: grid
  grid-template-columns: 1fr 1fr 1fr



  .link-wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px


    .round-img
      width: 160px
      height: 160px
      background-color: pink
      border-radius: 100px
      margin: 20px
      font-size: 20px
      font-weight: bold
      margin-top: 4px
    p
      margin-bottom: 15px
      margin-top: 4px
    a
      margin: 8px
      padding: 5px 20px 0px
      padding-left: 10px
      background-color: $accent-color-blue
      font-size: 18px
      display: flex
      color: #fff
      .material-icons
        margin-right: 4px

.project-img-1, .project-img-2, .project-img-3, .project-img-4, .project-img-5, .project-img-6, .project-img-7, .project-img-8, .project-img-9,
  background: url(../images/img10.jpg) center center
  background-size: cover
.project-box1, .project-box2, .project-box4, .project-box5, .project-box7, .project-box8
  border-left: 1px solid $accent-color-yellow

.project-box1, .project-box2, .project-box3, .project-box4, .project-box5, .project-box6
  border-bottom: 1px solid $accent-color-yellow

.project-box1, .project-box2, .project-box4, .project-box5,
  .flower-img
    background: url(../images/flower-logo-yellowbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 0
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto


.pointer-img
  width: 50px
  height: 50px
  background-color: skyblue
  margin-bottom: -32px
  background: url(../images/logo-pointer.png) center center
  background-size: contain
  background-repeat: no-repeat
  display: none
.pointer-img1
  display: block

.placeholder
  background-color: #777
  grid-column: 1/4
  display: none
  // display: flex
  // border: 1px solid blue
  z-index: 2
  margin-top: -1px

.holder1
  display: flex



.holder-wrapper
  display: flex
  width: 100%
  max-width: 1500px
  margin: auto
  padding: 40px
  align-content: stretch
  .project-col1
    width: 35%
    display: flex
    flex-direction: column
    // justify-content: flex-start
    // align-items: flex-start
    margin-left: 30px
    .project-img
      width: 90%
      height: 50%
      background-color: skyblue
      margin-bottom: 20px

    .project-map
      width: 90%
      height: 50%
      background-color: skyblue
  .project-col2
    display: flex
    flex-wrap: wrap
    width: 65%
    color: #fff

    .item-h1
      min-width: 100%
      h3
        font-weight: bold
        font-size: 30px
        background-color: pink
        background-color: $accent-color-blue
        padding: 10px 40px

    .item-p1
      width: 50%

      padding: 20px
      margin-top: 20px
      border-right: 1px dashed #fff
    .item-p2
      width: 50%
      padding: 20px
      margin-top: 20px
      border-right: 1px dashed #fff
      font-size: 24px

.project-col2  h6
  font-size: 20px
  line-height: 34px
.project-col2  p
  font-size: 18px


@media (max-width: 840px)
  .s-wrapper
    width: 100%
    max-width: 1400px
    margin: auto
    display: grid
    grid-template-columns: 1fr 1fr
  .placeholder
    grid-column: 1/3
    // height: 400px
    display: flex
    z-index: 2

  .project-box1
    order: 1
  .project-box2
    order: 2
  .holder1, .holder2
    order: 3
  .project-box3
    order: 4
  .project-box4
    order: 5
  .holder3, .holder4
    order: 6
  .project-box5
    order: 7
  .project-box6
    order: 8
  .holder5, .holder6,
    order: 9
  .project-box7
    order: 10
  .project-box8
    order: 11
  .holder7, .holder8
    order: 12
  .project-box9
    order: 13
  .holder9
    order: 14


@media (min-width: 1400px)

  .project-box1, .project-box4, .project-box7,
    margin-right: 30%
  .project-box3, .project-box6, .project-box9
    margin-left: 30%
