
// subsidaries section about semega page
.subsidaries-s
  background-color: $bg-color-light
  padding-bottom: 80px
.sub-heading
  display: flex
  width: 100%
  height: 10%
  justify-content: center
  padding-right: 14px
  .text
    font-weight: bold

  .line-right, .line-left
    background: url(../images/line10.png) center center
    background-size: contain
    background-repeat: no-repeat
    width: 150px
    height: 20px
    margin: 2px 9px
  .line-left
    transform: rotate(180deg)


#subsidaries-co
  width: 100%
  display: flex
  flex-wrap: wrap

.co-name
  max-width: 160px
  text-align: center
  height: 47px
  overflow: hidden
.sub-logo1
  background: url(../images/sub-arya.png) center center

.sub-logo2
  background: url(../images/sub-bakhtar.png) center center

.sub-logo3
  background: url(../images/sub-logo.png) center center

.sub-logo4
  background: url(../images/sub-karad.png) center center

.sub-logo5
  background: url(../images/sub-shade.png) center center

.sub-logo6
  background: url(../images/sub-club.png) center center

.sub-logo7
  background: url(../images/sub-zigorat.png) center center

.sub-logo8
  background: url(../images/sub-kimiya.png) center center

.sub-logo9
  background: url(../images/sub-it.png) center center

.sub-logo10
  background: url(../images/sub-varna.png) center center

.sub-logo11
  background: url(../images/sub-ofogh.png) center center

.sub-logo12
  background: url(../images/sub-negin.png) center center

.sub-logo13
  background: url(../images/sub-bank.png) center center

.sub-logo14, .sub-logo15,
  background: url(../images/sub-negin-ofogh.png) center center
  background-size: contain
  background-repeat: no-repeat

.round-logo
  width: 150px
  height: 150px
  margin: 20px
  background-size: contain
  background-repeat: no-repeat



.subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
.subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box11, .subsidaries-box12, .subsidaries-box13, .subsidaries-box14
  border-bottom: 1px solid $accent-color-yellow

.subsidaries-box5, .subsidaries-box10, .subsidaries-box15,
  border-bottom: 1px solid $accent-color-yellow
.subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
.subsidaries-box5, .subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box10, .subsidaries-box11, .subsidaries-box12,
.subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
  border-left: 1px solid $accent-color-yellow
  .flower-img
    background: url(../images/flower-logo-lightbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 1
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto
    z-index: 0
.subsidaries-box11, .subsidaries-box12, .subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
  border-bottom: none
.subsidaries-box5, .subsidaries-box10, .subsidaries-box11, .subsidaries-box12, .subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
  .flower-img
    display: none

.subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
.subsidaries-box5, .subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box10, .subsidaries-box11, .subsidaries-box12,
.subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
  width: 20%

.sub-placeholder
  background-color: #777
  display: flex
  width: 100%
  font-weight: bold
  z-index: -1
  margin-top: -1px
  color: #fff
  max-height: 0
  overflow: hidden
  position: absolute

.website-ancher-style
  color: white
  font-size: 14px
  font-weight: normal

.sub-wrapper
  display: flex
  justify-content: center


.sub-open
  display: flex
  position: relative
  max-height: 100%
  z-index: 1

.sub-col1
  width: 40%
.sub-col2
  width: 40%


.subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
.subsidaries-box5,
  order: 0

.subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box10,
  order: 2

.subsidaries-box11, .subsidaries-box12,
.subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
  order: 4

#sub-holder1, #sub-holder2, #sub-holder3, #sub-holder4, #sub-holder5
  order: 1
#sub-holder6, #sub-holder7, #sub-holder8, #sub-holder9, #sub-holder10
  order: 3
#sub-holder11, #sub-holder12, #sub-holder13, #sub-holder14, #sub-holder15
  order: 5


@media (max-width: 1100px)
  .subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
  .subsidaries-box5, .subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box10, .subsidaries-box11, .subsidaries-box12,
  .subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
    width: 25%

  .subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
    order: 0
    border-bottom: 1px solid $accent-color-yellow

  .subsidaries-box5,.subsidaries-box6, .subsidaries-box7, .subsidaries-box8,
    order: 2
    border-bottom: 1px solid $accent-color-yellow

  .subsidaries-box9, .subsidaries-box10,
  .subsidaries-box11, .subsidaries-box12,
    order: 4
    border-bottom: none


  .subsidaries-box13, .subsidaries-box14,
  .subsidaries-box15,
    order: 6
    border-bottom: none


  .subsidaries-box4, .subsidaries-box8, .subsidaries-box9,
    .flower-img
      display: none

  .subsidaries-box5,
    .flower-img
      display: block


  #sub-holder1, #sub-holder2, #sub-holder3, #sub-holder4,
    order: 1
  #sub-holder5, #sub-holder6, #sub-holder7, #sub-holder8,
    order: 3
  #sub-holder9, #sub-holder10, #sub-holder11, #sub-holder12,
    order: 5

  #sub-holder13, #sub-holder14, #sub-holder15
    order: 7


@media (max-width: 820px)
  .subsidaries-box1, .subsidaries-box2, .subsidaries-box3, .subsidaries-box4,
  .subsidaries-box5, .subsidaries-box6, .subsidaries-box7, .subsidaries-box8, .subsidaries-box9, .subsidaries-box10, .subsidaries-box11, .subsidaries-box12,
  .subsidaries-box13, .subsidaries-box14, .subsidaries-box15,
    width: 50%

  .subsidaries-box1, .subsidaries-box2,
    order: 0
    border-bottom: 1px solid $accent-color-yellow

  .subsidaries-box3, .subsidaries-box4,
    order: 2

  .subsidaries-box5,.subsidaries-box6,
    order: 4
    border-bottom: 1px solid $accent-color-yellow

  .subsidaries-box7, .subsidaries-box8,
    order: 6

  .subsidaries-box9, .subsidaries-box10,
    order: 8
    border-bottom: 1px solid $accent-color-yellow

  .subsidaries-box11, .subsidaries-box12,
    order: 10

  .subsidaries-box11, .subsidaries-box12,
    order: 12
    border-bottom: none

  .subsidaries-box13, .subsidaries-box14,
    order: 14
    border-bottom: none


  .subsidaries-box2, .subsidaries-box4, .subsidaries-box6,
    .flower-img
      display: none

  .subsidaries-box9,
    .flower-img
      display: block


  #sub-holder1, #sub-holder2,
    order: 1
  #sub-holder3, #sub-holder4,
    order: 3
  #sub-holder5, #sub-holder6,
    order: 5
  #sub-holder7, #sub-holder8,
    order: 7
  #sub-holder9, #sub-holder10,
    order: 9
  #sub-holder11, #sub-holder12,
    order: 11
  #sub-holder13, #sub-holder14,
    order: 13


  .sub-wrapper
    display: flex
    justify-content: center
    flex-direction: column

  .sub-col1
    width: 90%
  .sub-col2
    width: 90%

// about semega page  // board members section

.board-members
  max-width: 1400px
.link-wrapper

.board-img-1, .member1
  background: url(../images/board-jahangiri.jpg) center center
  background-size: cover
.board-img-2, .member2
  background: url(../images/board-hashemi.jpg) center center
  background-size: cover
.board-img-3, .member3
  background: url(../images/ceo-img.jpg) center center
  background-size: cover
.board-img-4, .member4
  background: url(../images/board-samimi.jpg) center center
  background-size: cover
.board-img-5, .member5
  background: url(../images/board-vazirzade.png) center center
  background-size: cover
.board-img-6, .member6
  // background: url(../images/ceo-img.jpg) center center
  // background-size: cover
.board-img-7, .member7
  background: url(../images/board-edraki.png) center center
  background-size: cover
.board-img-8, .member8
  background: url(../images/ceo-img.jpg) center center
  background-size: cover
.board-img-9, .member9
  background: url(../images/ceo-img.jpg) center center
  background-size: cover
.board-img-10, .member10
  background: url(../images/ceo-img.jpg) center center
  background-size: cover



.board-box1, .board-box2, .board-box4, .board-box5, .board-box7, .board-box8, .board-box10
  border-left: 1px solid $accent-color-yellow

.board-box1, .board-box2, .board-box3, .board-box4, .board-box5, .board-box6,
  border-bottom: 1px solid $accent-color-yellow
.board-box1, .board-box2, .board-box3, .board-box4, .board-box5, .board-box6, .board-box7, .board-box8, .board-box9,
  .flower-img
    background: url(../images/flower-logo-yellowbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 1
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto


.board-box3, .board-box6, .board-box7,
  .flower-img
    display: none

// board members details
.no-padding
  padding: 0
  justify-content: center
.board-col1
  width: 40%
  display: flex
  .board-img
    height: 350px
    width: 100%
    background-color: skyblue
    margin: 0
    padding: 0


.board-col2
  padding: 50px
  width: 60%
  display: flex
  justify-content: space-between
  color: #fff
  p
    margin-bottom: 10px
  .item-p1
    margin-left: 30px
    width: 300px
  .item-p2
    width: 300px

.board-members
  width: 100%
  margin: auto
  display: flex
  flex-wrap: wrap
  .board-list
    width: 33.33%
    h3
      height: 50px

    p
      margin-bottom: 15px
      margin-top: 4px
      height: 30px


.board-box1, .board-box2, .board-box3,
  order: 0
.board-box4, .board-box5, .board-box6,
  order: 2
.board-box7, .board-box8, .board-box9
  order: 4
  // border-left: 1px solid $accent-color-yellow


#board-holder1, #board-holder2, #board-holder3,
  order: 1
#board-holder4, #board-holder5, #board-holder6,
  order: 3
#board-holder7, #board-holder8, #board-holder9,
  order: 5


@media (max-width: 800px)
  .board-members
    .board-list
      width: 50%

  .board-box1, .board-box2, .board-box3, .board-box4, .board-box5, .board-box6,
    border-bottom: 1px solid $accent-color-yellow
    border-left: 1px solid $accent-color-yellow

  .board-box1, .board-box3, .board-box5,
    .flower-img
      display: block
  .board-box2, .board-box4, .board-box6,
    .flower-img
      display: none

  .board-box1, .board-box2,
    order: 0
  .board-box3, .board-box4,
    order: 2
  .board-box5, .board-box6,
    order: 4
  .board-box7, .board-box8
    order: 6



  #board-holder1, #board-holder2,
    order: 1
  #board-holder3, #board-holder4,
    order: 3
  #board-holder5, #board-holder6,
    order: 5
  #board-holder7, #board-holder8,
    order: 5

  .board-col1
    display: none


  .board-col2
    padding: 24px
    width: 100%
    margin: auto
    flex-wrap: wrap
    .item-p1, .item-p2
      margin-left: 0
      width: 100%

@media (max-width: 490px)
  .board-members
    .board-list
      width: 100%

  .board-box1, .board-box2, .board-box3, .board-box4, .board-box5, .board-box6,
    border-bottom: 1px solid $accent-color-yellow
    border-left: none

  .board-box1, .board-box3, .board-box5,
    .flower-img
      display: none
  .board-box2, .board-box4, .board-box6,
    .flower-img
      display: none

.board-box1,
  order: 0
.board-box2,
  order: 2
.board-box3,
  order: 4
.board-box4,
  order: 6
.board-box5,
  order: 8
.board-box6,
  order: 10
.board-box7,
  order: 12
.board-box8,
  order: 14

#board-holder1
  order: 1
#board-holder2
  order: 3
#board-holder3
  order: 5
#board-holder4
  order: 7
#board-holder5
  order: 9
#board-holder6
  order: 11
#board-holder7
  order: 13
#board-holder8
  order: 15




// investment page // ongoing projects

.investment-project
  width: 100%
  margin: auto
  display: flex
  flex-wrap: wrap

.project-list
  width: 33.33%
  h3
    height: 60px
    font-size: 24px

  p
    margin-bottom: 15px
    margin-top: 4px
    height: 30px



.s-wrapper
  width: 100%
  margin: auto
  display: flex
  flex-wrap: wrap

  .link-wrapper
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 20px



    .round-img
      width: 160px
      height: 160px
      background-color: #fff
      border-radius: 100px
      margin: 20px
      margin-top: 4px
    h3
      // font-size: 20px
      text-align: center
      max-width: 270px

    p
      margin-bottom: 15px
      margin-top: 4px

    a
      margin: 8px
      padding: 5px 20px 0px
      padding-left: 10px
      background-color: $accent-color-blue
      font-size: 18px
      display: flex
      color: #fff

      &:hover
        cursor: pointer
      .material-icons
        margin-right: 4px



.project-img-round
  border-radius: 500px


//
// .fin-project-img-3
//   background: url(../images/img10.jpg) center center
//   background-size: cover






.project-box1, .project-box2, .project-box4, .project-box5, .project-box7, .project-box8
  border-left: 1px solid $accent-color-yellow

.project-box1, .project-box2, .project-box3
  border-bottom: 1px solid $accent-color-yellow

.project-box1, .project-box2
  .flower-img
    background: url(../images/flower-logo-yellowbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 0
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto

  .flower-img-light
    background: url(../images/flower-logo-lightbg.jpg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 30px
    height: 30px
    position: relative
    top: 0px
    left: 0px
    z-index: 1
    align-self: flex-end
    margin-left: -36px
    margin-right: auto
    margin-bottom: -36px
    margin-top: auto
    z-index: 4

// .pointer-img
//   width: 50px
//   height: 50px
//   background-color: skyblue
//   margin-bottom: -26px
//   background: url(../images/logo-pointer.png) center center
//   background-size: contain
//   background-repeat: no-repeat
//   display: none
// .pointer-img1
//   display: block

.placeholder
  background-color: #777
  width: 100%
  display: none
  z-index: 4
  margin-top: -1px

.board-open
  display: flex
  position: relative
  max-height: 100%

.project-open
  display: flex
  position: relative
  max-height: 100%


.holder-wrapper
  display: flex
  width: 100%
  max-width: 1500px
  margin: auto
  padding: 40px
  align-content: stretch
  .project-col1
    width: 35%
    display: flex
    flex-direction: column
    margin-left: 30px
    .project-img
      width: 90%
      height: 50%
      margin-bottom: 20px
      overflow: hidden
      object-fit: cover


    .project-map
      width: 90%
      height: 50%
      overflow: hidden


// .on-project1-img
//   background: url(../images/karvansara.jpg) center center
//   background-size: cover

// .on-project2-img
//   background: url(../images/grand-hotel.png) center center
//   background-size: cover
//
//
// .on-project1-map
//   background: url(../images/karvansara-map.jpg) center center
//   background-size: cover
//
// .on-project2-map
//   background: url(../images/map2.jpg) center center
//   background-size: cover

.project-col2
  display: flex
  flex-wrap: wrap
  width: 65%
  color: #fff

  .item-h1
    min-width: 100%
    h3
      font-weight: bold
      font-size: 30px
      background-color: pink
      background-color: $accent-color-blue
      padding: 10px 40px

  .item-p1
    width: 50%
    padding: 20px
    margin-top: 20px
    border-right: 1px dashed #fff
    ul
      margin-right: 16px
      font-size: 18px
      li
        list-style: disc
        line-height: 24px

  .item-p2
    width: 50%
    padding: 20px
    margin-top: 20px
    border-right: 1px dashed #fff
    font-size: 24px

.project-col2  h6
  font-size: 20px
  line-height: 34px
.project-col2  p
  font-size: 18px



// @media (max-width: 840px)
//
//   .project-box1
//     order: 1
//   .project-box2
//     order: 2
//   .holder1, .holder2
//     order: 3
//   .project-box3
//     order: 4
//   .project-box4
//     order: 5
//   .holder3, .holder4
//     order: 6
//   .project-box5
//     order: 7
//   .project-box6
//     order: 8
//   .holder5, .holder6,
//     order: 9
//   .project-box7
//     order: 10
//   .project-box8
//     order: 11
//   .holder7, .holder8
//     order: 12
//   .project-box9
//     order: 13
//   .holder9
//     order: 14
//
//
// @media (min-width: 1400px)
//
//   .project-box1, .project-box4, .project-box7,
//     margin-right: 30%
//   .project-box3, .project-box6, .project-box9
//     margin-left: 30%
