
.header, .header-home
  // background-color: rgba(0, 0, 0, 0.6)

  display: flex
  width: 100%
  justify-content: flex-start
  position: fixed
  top: 0
  z-index: 20


  // gradient default
  background-image: linear-gradient(to top, rgba(148,148,148, .0) 0%, rgba(54,54,54, .5) 50%, rgba(0,0,0, .9) 100%)
  background-image:  -webkit-linear-gradient(to top, rgba(148,148,148, .0) 0%, rgba(54,54,54, .5) 50%, rgba(0,0,0, .9) 100%)
  padding-bottom: 100px

.header-fixed
  background-color: #555
  // height: 56px
  position: fixed
  padding-bottom: 0px
  background-image: none
  // animation: movingdown 300ms ease-in-out



.header-transition
  position: fixed
  top: 0px
  transform: translate(0px, -66px)
  animation: moving 300ms ease-in-out



@keyframes moving
  0%
    transform: translate(0, 0)

  100%
    transform: translate(0px, -66px)


@keyframes movingdown
  0%
    transform: translate(0px, -66px)

  100%
    transform: translate(0, 0)


.nav-main
  max-width: 1250px
  display: flex
  width: 75%
  justify-content: center
  margin-left: 8px
  align-items: center
  .nav-item
    padding: 20px 30px
    color: #fff
    font-weight: bold
    font-size: 14pt
    &:hover

#lang
  color: #fff
  font-size: 10pt
  font-weight: normal
  padding: 2px 4px
  margin: 16px 30px
  top: 0
  left: 0
  position: absolute
  border: 1px solid #fff

.logo
  width: 250px
  height: 50px
  background: url(../images/semega.png) center center
  margin: 8px 24px
  background-size: contain
  background-repeat: no-repeat
  justify-content: center
  // background-color: lime


section.hero
  height: 500px
  background-size: cover
  // margin-top: 50px
  display: flex
  width: 100%
  justify-content: center
  align-items: center
  background-repeat: no-repeat

.tourism
  background: url(../images/tourism.jpg) center center

.strategy
  background: url(../images/strategy-hero.jpg) center center

section.media-hero
  background: url(../images/media-hero.jpg) center center
  background-repeat: no-repeat
  background-size: cover

.investment-hero
  background: url(../images/investment-hero.jpg) center center



section.about-semega
  background: url(../images/about-banner.jpg) center center
  background-repeat: no-repeat

section.home-page
  background: url(../images/home-hero-img.jpg) center center
  background-repeat: no-repeat
  height: 500px
  background-size: cover
  display: flex
  .home-hero-container
    background: url(../images/home-frame-hero.png) center center
    background-repeat: no-repeat
    height: 500px
    width: 700px
    background-size: contain
    margin-left: 100px
    margin-right: auto
    .hero-text
      background-color: rgba(0, 0, 0, 0.6)
      width: 450px
      height: 450px
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: flex-end
      padding: 70px
      margin-top: 150px
      margin-right: -350px
      h1
        color: #fff
        text-align: left
        font-size: 38px
      a
        width: 120px
        background-color: #4fadda
        color: #fff
        border: 1px solid $bg-color
        border-radius: 5px
        text-align: center
        padding: 4px
        padding-bottom: 6px






.page-title
  color: #fff
  background-color: rgba(0, 0, 0, 0.6)

  padding: 16px 32px
  font-size: 24pt
  margin-top: -100px



@media (max-width: 1360px)
  .nav-main
    .nav-item
      padding: 16px
      // font-weight: normal
      // font-size: 13pt


@media (max-width: 1240px)
  .header, .header-home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #555
    padding-bottom: 0px
    background-image: none

  .nav-main
    flex-direction: column
    justify-content: flex-start
    align-items: center
    margin-left: 0px
    display: none
    margin: 50px 0px
    height: 100vh


  section.hero
    height: 450px




  .logo
    width: 300px
    height: 50px
    margin: 4px



  .nav-label

    .mobile-nav-toggle
      position: fixed
      top: 0px
      right: 0px
      margin: 8px 25px
      width: 36px
      height: 42px
      cursor: pointer

      span,
      span:before,
      span:after
        content: ""
        display: block
        height: 3px
        background: #fff
        position: relative
        transition: all 0.3s ease-in-out

      span:before
        top: 12px

      span
        top: 20px

      span:after
        top: -14px

.nav-check:checked ~ .nav-label
  span
    background: transparent
  span:before, span:after
    transform-origin: center
    transform: rotate(45deg)
    top: 0px
  span:after
    transform: rotate(-45deg)
    top: -2px

.nav-check:checked ~ .nav-main
  display: flex



.nav-check
  position: absolute
  visibility: hidden
