// world view

.world-view-wrapper
  background-color: $bg-color-light
  width: 100%
  box-sizing: border-box
  padding-bottom: 40px

.world-view-container
  display: flex
  width: 100%
  justify-content: center
  .news-item
    display: flex
    flex-direction: column
    min-width: 250px
    height: 320px
    // background-color: pink
    border-right: 6px dotted #aaa
    align-items: center
    padding-top: 0px
    padding: 0px 20px

.news
  background: url(../images/news-frame.png) center center
  background-repeat: no-repeat
  min-width: 240px
  height: 240px
  display: flex
  justify-content: center
  align-items: center


.news-1

  p
    width: 180px
    margin-top: 20px
    font-size: 15px
.news-below
  width: 210px
  height: 80px
  overflow: hidden
  justify-content: center
  font-size: 14px

.read-more
  border-top: 1px solid $accent-color-blue
  border-bottom: 1px solid $accent-color-blue
  width: 210px
  height: 32px
  margin-top: 8px
  padding-bottom: 4px
  a
    font-size: 14px
