// world view

.world-view-wrapper
  background-color: $bg-color-light
  width: 100%
  box-sizing: border-box
  padding-bottom: 40px

.world-view-container
  display: flex
  width: 100%
  justify-content: center
  .news-item
    display: flex
    flex-direction: column
    min-width: 250px
    height: 320px
    // background-color: pink
    border-right: 6px dotted #aaa
    align-items: center
    padding-top: 0px
    padding: 0px 20px

.news
  background: url(../images/news-frame.png) center center
  background-repeat: no-repeat
  min-width: 240px
  height: 240px
  display: flex
  justify-content: center
  align-items: center


.news-1

  p
    width: 180px
    margin-top: 20px
    font-size: 15px
.news-below
  width: 210px
  height: 80px
  overflow: hidden
  justify-content: center
  font-size: 14px

.read-more
  border-top: 1px solid $accent-color-blue
  border-bottom: 1px solid $accent-color-blue
  width: 210px
  height: 32px
  margin-top: 8px
  padding-bottom: 4px
  a
    font-size: 14px







.wrapper
  margin: 40px 0px
  display: grid
  grid-template-columns: 1fr 1fr
  align-items: center

.frame
  height: 540px
  border: 4px solid $accent-color-yellow
  grid-row: 1
  margin-left: -40px
  margin-right: 80px
  display: flex
  align-items: center
  p
    padding: 80px
    font-size: 18px
    justify-content: center
    align-self: center
    text-align: justify



.img-semega
  background: url(../images/semega.jpg) center right
  height: 480px
  width: stretch
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
  grid-row: 1
  z-index: -1

@media (max-width: 1370px)
  .frame
    margin-right: 40px
    p
      padding: 80px


@media (max-width: 1275px)
  .frame
    height: auto
    margin-right: 40px
    p
      padding: 40px 40px 40px 80px

  .img-semega
    height: 440px

@media (max-width: 1020px)
  .wrapper
    grid-template-columns: 1fr

  .frame
    margin: 40px
    margin-top: -40px
    grid-row: 2
    p
      padding: 40px
      padding-top: 80px

@media (max-width: 400px)
  .frame
    height: auto
    grid-row: 2
    margin-top: 0px
    border: 0px
    margin: 0px
    p
      padding: 20px


// horizantal scroll


$finalHeight: 400px
$finalWidth: 5 * $finalHeight
$scrollBarHeight: 1px

::-webkit-scrollbar
  width: $scrollBarHeight
  height: $scrollBarHeight


::-webkit-scrollbar-button
  width: $scrollBarHeight
  height: $scrollBarHeight



.h-container
  position: relative
  background-color: #f4f2ed
  z-index: 0

div
  box-sizing: border-box


.horizontal-scroll-wrapper
  position: absolute
  display: block
  top: 140px
  left: 0
  width: calc(# $finalHeight     + # $scrollBarHeight    )
  max-height: $finalWidth
  margin: 0
  max-width: 500px
  padding-top: $scrollBarHeight
  background: #abc
  overflow-y: auto
  overflow-x: hidden
  transform: rotate(-90deg) translateY(-$finalHeight)
  transform-origin: right top
  & > div
    display: block
    padding: 5px
    background: #cab
    transform: rotate(90deg)
    transform-origin: right top



.squares
  padding: $finalHeight 0 0 0
  & > div
    width: $finalHeight
    height: $finalHeight
    margin: 0px 0
  .item-null
    background: url(../images/timeline-null.jpg) center center
    background-size: contain
    width: $finalHeight
    height: $finalHeight
    margin: 0px 0
    background-repeat: no-repeat
  .item-2
    background: url(../images/timeline-1389.jpg) center center
    background-size: contain
    width: $finalHeight
    height: $finalHeight
    margin: 0px 0
    background-repeat: no-repeat
  .item-3
    background: url(../images/timeline-1388.jpg) center center
    background-size: contain
    width: $finalHeight
    height: $finalHeight
    margin: 0px 0
    background-repeat: no-repeat
  .item-last
    width: $finalHeight
    height: $finalHeight
    margin: 0px 0
    background-color: #f4f2ed


// end of horizantal scroll




// ceo section
.light-bg
  background-color: $bg-color-light

.ceo
  background-color: $bg-color-light
  // display: flex
  .ceo-img
    background: url(../images/ceo.png) center right
    background-size: contain
    background-repeat: no-repeat
    width: 95%
    height: 600px
    display: flex
    .text-ceo
      width: 650px
      height: 410px
      background-color: rgba(237, 226, 218, 0.8)
      margin-left: 100px
      margin-right: auto
      margin-top: 150px
      padding: 40px

// subsidaries section

.subsidaries
  display: flex
  width: 100%
  height: 700px
  background-color: $bg-color-light
  justify-content: center
  align-items: center
  .subsidaries-p
    width: 550px
    margin-top: -100px
    margin-right: -135px
    // padding-left: 50px
    // background-color: pink
    h4
      margin-bottom: 10px
  .subsidaries-img
    background: url(../images/subsidiaries-2.png) center right
    background-size: contain
    background-repeat: no-repeat
    width: 600px
    height: 700px
    margin-right: -140px
    // background-color: lime

// organizational chart

.organizational-chart
  background-color: $bg-color-light
  width: 100%

.org-chart
  background: url(../images/org-chart.jpg) center right
  background-size: contain
  background-repeat: no-repeat
  max-width: 1200px
  height: 600px
  margin: 0px auto




.statistic
  display: flex
  justify-content: center

.text-p
  display: flex
  justify-content: center
  background: url(../images/asset-frame-2.png) center center
  background-size: contain
  background-repeat: no-repeat
  padding: 50px
  width: 95%
  max-width: 1400px
  justify-content: space-around
  align-items: center
  p
    width: 600px

.image-p
  width: 600px
  height: 400px
  background: url(../images/chart-sanat-2.png) center center
  background-size: contain
  background-repeat: no-repeat


.section-2
  background-color: $bg-color-light
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: 650px

.statistic-2
  display: flex
  width: 100%
  justify-content: center
  justify-content: space-between
  align-items: center
.chart-2
  width: 600px
  height: 400px
  background: url(../images/chart-sanat-3.png) center center
  background-size: contain
  background-repeat: no-repeat
  margin-left: 10px
  margin-right: auto
.text-p-2
  width: 50%

  background-color: $bg-color

  p
    width: 450px
    padding: 80px
    text-align: justify



.section-3
  // background-color: pink
  width: 100%
  height: 1000px
  justify-content: flex-end
  margin-top: 100px
  flex-direction: column
  align-items: center

  .col-1
    // background-color: lime
    width: 100%
    height: 500px
    display: flex
    justify-content: flex-end

    .row-1
      width: 580px
      height: 440px
      background-color: skyblue
      background: url(../images/blue-frame-2.png) center center
      background-size: contain
      background-repeat: no-repeat
      padding: 50px
      h3
      font-size: 18px
      p
        width: 480px
        margin-top: 10px
    .row-2
      width: 60%
      height: 500px
      background-color: honeydew
      margin-top: 100px
      margin-right: -100px
      z-index: -2
      background: url(../images/star-chart.jpg) center center
      background-size: contain
      background-repeat: no-repeat
  .col-2
    background-color: red
    width: 70%
    height: 500px

    // margin: auto
    z-index: -3
    margin-top: -20px
    margin-right: -160px
    background: url(../images/table-3.png) center center
    background-size: contain
    background-repeat: no-repeat



.section-4
  background-color: $bg-color-light

.s4-container, .strategy-s1-container, .strategy-s2-container
  max-width: 800px
  display: flex
  flex-direction: column
  // background-color: pink
  margin: auto
  // padding: 0px 40px
  border-right: 1px solid #333
  p
    padding: 0px 40px
    line-height: 28px
  ul
    padding: 0px 60px
    list-style-type: disc
    li
      list-style-type: disc
      font-weight: bold
      font-size: 18px
      line-height: 38px
      p
        padding: 0px
        font-weight: 400

  // strategy page -section 1
  h4, h5
    padding: 0px 40px
  h4
    margin-bottom: 30px

  ol > li

    font-size: 16px
    line-height: 28px
    text-align: justify

  .strategy-table1
    background: url(../images/strategy-table1.jpg) center center
    margin: 40px 0px
    width: 100%
    height: 340px
    background-size: contain
    background-repeat: no-repeat
    border-right: 10px solid #333


  .chart-4
    background: url(../images/chart-4.svg) center center
    background-size: contain
    background-repeat: no-repeat
    width: 100%
    height: 400px
    margin: 40px auto
    border-right: 10px solid #333



  .quotation, .quotation-w
    background: url(../images/quotation.png) center center
    background-size: contain
    background-repeat: no-repeat
    width: 800px
    height: 110px
    padding: 24px 80px
    margin-bottom: 30px
    border-right: 10px solid #333
  .quotation-w
    background: url(../images/quotation-w.png) center center
    background-size: contain
    background-repeat: no-repeat
    height: 160px
    padding-top: 40px
  .points
    li
      font-size: 17px
      line-height: 32px
      font-weight: normal


.strategy-s2
  background-color: $bg-color-light

  .strategy-table2
    background: url(../images/strategy-table2.png) center center
    margin: 40px 0px
    width: 100%
    height: 400px
    background-size: contain
    background-repeat: no-repeat
    border-right: 10px solid #333


.strategy-s4
  p
    max-width: 1000px
    margin: auto
    padding: 0px 40px
  .strategy-s4-chart
    background: url(../images/strategy-s4-chart.jpg) top center
    margin: 40px 0px
    width: 100%
    height: 900px
    background-size: contain
    background-repeat: no-repeat
    border-right: 10px solid #333

.strategy-s5
  background-color: $bg-color-light
  .strategy-s5-img
    background: url(../images/strategy-s5-img.png) center center
    background-size: contain
    background-repeat: no-repeat
    width: 90%
    height: 500px
    margin: auto
    display: flex
    justify-content: flex-end
    align-items: center

    div
      width: 60%

      p
        max-width: 550px
        padding: 50px
        margin-left: 0px
        margin-right: auto
    .empty-col
      width: 40%

  .strategy-s5-5
    display: flex
    width: 100%
    height: 450px
    background-color: $bg-color
    justify-content: center
    align-items: center
    margin-top: 40px
    div
      width: 50%
      max-width: 700px
      height: 320px
      margin: 20px

    .col-1
      background: url(../images/strategy-s6-img.png) center center
      background-size: contain
      background-repeat: no-repeat
    .col-2
      background: url(../images/blue-frame-2.png) center center
      background-size: contain
      background-repeat: no-repeat
      // width: 400px
      p
        width: 360px
        margin: auto
        padding: 40px


.strategy-s6
  background-color: $bg-color-light
  .strategy-table3
    background: url(../images/strategy-table3.jpg) top center
    margin: 40px 0px
    width: 100%
    height: 550px
    background-size: contain
    background-repeat: no-repeat
    border-right: 10px solid #333

// home page sections
  // section 1

.home-s1
  background-color: $bg-color-light

  .home-about-container
    display: flex
    justify-content: flex-end
    width: 100%
    height: 500px
    // background-color: pink
    .frame-text
      background: url(../images/blue-frame3.png) center center
      background-size: contain
      background-repeat: no-repeat
      width: 700px
      margin-left: -200px
      margin-right: 80px
      margin-bottom: -100px
      z-index: 2
      display: flex
      align-items: center
      justify-content: center


      p
        width: 320px
        margin-right: -200px
    .frame-image
      background: url(../images/semega.jpg) center center
      background-size: cover
      background-repeat: no-repeat
      width: 60%
      z-index: 1

  // section 2
.home-s2
  background-color: $bg-color-light

  .section2-container
    display: flex
    width: 90%
    height: 600px
    margin-right: auto

    .col-1
      width: 40%
      height: 90%
      background: url(../images/home-s2-img1.png) center center
      background-size: contain
      background-repeat: no-repeat
      margin-left: 20px
      padding-bottom: 80px

    .col-2
      width: 45%
      height: 90%
      background: url(../images/home-s2-img2.png) center center
      background-size: contain
      background-repeat: no-repeat
      margin-right: 20px

// section 3
.home-s3
  .section3-container
    display: flex
    width: 90%
    height: 600px
    justify-content: flex-start
    .img
      background: url(../images/home-s3-img.png) center right
      background-size: contain
      background-repeat: no-repeat
      width: 100%
      display: flex
      justify-content: flex-end
      align-items: center
      .text-container
        width: 30%
        margin-left: 3%
        padding: 40px



// section 4
.media
  background: url(../images/home-media-img.jpg) center center
  background-repeat: no-repeat
  background-size: cover
  min-width: 240px
  height: 240px
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 20px



// section 5
.home-s5
  .section5-container
    height: 200px
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    .arrow
      width: 100px
      height: 100px
      position: absolute

      background: url(../images/arrow2.png) center center
      background-size: contain
      background-color: rgba(0, 0, 0, 0.15)
      opacity: .90
    .arrow-right
      right: 0
      transform: rotate(180deg)
      transform-origin: center

    .arrow-left
      left: 0
    .logo-wrapper
      width: 100%
      padding: 0px 100px
      height: 200px
      display: flex
      align-items: center
      overflow: scroll
      .c-logo
        min-width: 160px
        height: 80px
        margin: 20px
        opacity: .7
      .logo-1, .logo-4, .logo-7
        background: url(../images/c-logo3.png) center center
        background-size: contain
        background-repeat: no-repeat
      .logo-2, .logo-5, .logo-8
        background: url(../images/c-logo2.png) center center
        background-size: contain
        background-repeat: no-repeat
      .logo-3, .logo-6, .logo-9
        background: url(../images/c-logo1.png) center center
        background-size: contain
        background-repeat: no-repeat
