.secondary-menu
  height: 54px
  display: flex
  background-color: #555
  width: 100%
  z-index: 200
  align-items: center

  .link-wrapper
    overflow: scroll
    display: flex
    width: 200%
    margin-right: 40px
    align-items: center

    a
      color: #fff
      min-width: 200px
      text-align: center
      font-size: 20px
      padding: 16px
      &:hover
        background: url(../images/lable.png) center center
        background-size: contain
        background-repeat: no-repeat


  .media-menu, .tourism-menu, .investment-menu, .strategy-menu
    justify-content: center


@keyframes moving
  0%
    transform: translate(0, 0)


  100%
    transform: translate(0px, -66px)


.secondary-fixed
  position: fixed
  background-color: #555
  top: 66px
  right: 0
  transform: translate(0px, -66px)
  animation: moving 300ms ease-in-out
  z-index: 200
