
// separator lines for each section

.separator
  display: grid
  grid-template-columns: 1fr 70px 1fr
  align-items: center
  padding: 62px 0px
  .right-line
    display: grid
    grid-template-columns: 1fr auto 2fr
    align-items: center
    .line-1
      height: 2px
      background: $accent-color-blue
      display: block
    h2
      padding: 0px 24px


.center-dots
  height: 20px
  display: flex
  justify-content: space-between
  align-items: center
  .circle
    align-items: center
    width: 10px
    height: 10px
    background-color: $accent-color-yellow
    border-radius: 20px
    border: 2px solid $accent-color-blue

.left-line
  display: grid
  grid-template-columns: 1fr
  align-items: center
  .line-1
    height: 2px
    background: $accent-color-blue
    display: block



.container
  background-color: white
  height: 100%
  direction: ltr



  .surround-container
    height: 500px
    overflow: auto
    white-space: nowrap

  .h-page
    height: 100%
    width: 400px
    background-color: honeydew
    display: inline-block

.empty-space
  height: 600px
.empty-space-medium
  height: 380px
.empty-space-small
  height: 150px
.empty-space-80
  height: 80px

.lightbg
  background-color: $bg-color-light


@media (max-width: 900px)
  .separator
    display: grid
    grid-template-columns: 1fr
    align-items: center
    .right-line
      display: grid
      grid-template-columns: 1fr auto 1fr
      align-items: center
  .center-dots, .left-line
    display: none


// end of separators sections


// about semega page subsidaries section
.subsidaries-s
  background-color: $bg-color-light
.sub-heading
  display: flex
  width: 100%
  height: 10%
  justify-content: center
  padding-right: 14px
.text
  font-weight: bold

.line-right, .line-left
  background: url(../images/line10.png) center center
  background-size: contain
  background-repeat: no-repeat
  width: 150px
  height: 20px
  margin: 2px 9px
.line-left
  transform: rotate(180deg)

@media (max-width: 520px)
  .sub-heading
    .line-right, .line-left
      background-size: contain
      width: 80px !important
      height: 15px
    .line-left
      transform: rotate(180deg)
